#sidebar{
  width: 0px;
  height: 100%;
  background: #000;
  position: fixed;
  transition: 0.5s;
}

#sidebar #close{
  font-size: 40px;
  float: right;
  top: 0px;
  right: 5px;
  position: absolute;
}

#sidebar ul{
  margin-top: 100px;
}

#sidebar ul li{
  list-style: none;
}

#sidebar ul li a{
  color: #fff;
  font-size: 35px;
  text-decoration: none;
}